<div class="jumbotron">
  <div class="hero">
      <h3> Enter your username and password to login. </h3><br>
      <%= form_for(@user, :html => { :id => "create_account_form"}) do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name %><br>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br><br>
        <%= f.submit 'Create Account', class: "btn btn-primary btn-sm" %>
      <% end %>
  </div>
</div>
