<div class="jumbotron trans">
  <div class="hero">
    <h6 class="lead">Campgrounds for the festival bound...</h6>
    <%= form_tag(festivals_path, :method => "get") do %>
      <div class="">
        <%= label_tag :location %>
        <%= select_tag :location, options_for_select(major_cities) %>
      </div><br>
      <div class="">
        <%= label_tag :month %>
        <%= select_tag :date, options_for_select(months_of_the_year) %>
      </div><br>
      <div class="">
        <%= label_tag :within %>
        <%= select_tag :radius, options_for_select(radius_options) %>
      </div><br>
      <div class="">
        <%= submit_tag "Submit", class: "btn btn-primary btn-md" %>
      </div>
    <% end %>
    <!-- <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
  </div>
</div>
