<div class="jumbotron">
  <div class="hero">
    <h6 class="lead">Here's a list of all the festivals that meet your search criteria...</h6>
      <% @festivals.each do |festival| %>
        <div class="<%= festival.title%>">
          <%= festival.title %><br>
          <%= "#{festival.city}, #{festival.state}" %><br>
          <%= festival.address %><br>
          <%= link_to "View details and find campgrounds for #{festival.title}", festival_path(festival, id: festival.id) %><br><br>
        </div>
      <% end %>
  </div>
</div>
