<div style="height:100%" data-latitude="<%= @festival.latitude %>" data-longitude="<%= @festival.longitude %>" id="map">
</div>

<%= @festival.title %><br>
<%= @festival.city %><br>
<%= @festival.state %><br>
<%= @festival.address %><br>
