<div class="jumbotron">
  <div class="hero">
    <%= link_to "Back to festivals", :back %>
    <h6 class="lead">Festival details and campgrounds...</h6>
      <strong><%= "#{@festival.title} - #{@festival.date}" %></strong><br>
      <%= @festival.address %><br>
      <%= "#{@festival.city}, #{@festival.state}" %><br>
      <%= link_to 'View Festival Website', @festival.url %><br><br>
      <% if current_user %>
      <%= button_to 'Save Search', festivals_path(festival_id: @festival.id, festival_name: @festival.title), class: "btn btn-primary btn-sm" %>
      <% else %>
      <%= link_to 'Log in to save Search or', login_path(festival_id: @festival.id) %><br>
      <%= link_to 'Create account to save Search', new_user_path(festival_id: @festival.id) %>
      <% end %>
  </div>
</div>

<div data-latitude="<%= @festival.latitude %>" data-longitude="<%= @festival.longitude %>" id="map"></div>
