<div class="jumbotron">
  <div class="hero">
    <h6 class="lead">Here's a list of all the festivals that meet your search criteria...</h6>
      <%= @festival.title %><br>
      <%= @festival.city %><br>
      <%= @festival.state %><br>
      <%= @festival.address %><br>
      <%= link_to 'View Festival Website', @festival.url %><br><br>
      <% if current_user %>
      <%= button_to 'Save Search', festivals_path(festival_id: @festival.id, festival_name: @festival.title), class: "btn btn-primary btn-sm" %>
      <% else %>
      <%= link_to 'Log in to save Search or', login_path(festival_id: @festival.id) %><br>
      <%= link_to 'Create account to save Search', new_user_path(festival_id: @festival.id) %>
      <% end %>
  </div>
</div>

<div data-latitude="<%= @festival.latitude %>" data-longitude="<%= @festival.longitude %>" id="map"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['google_places_api_key']%>"></script>
