<%= @festival.title %><br>
<%= @festival.city %><br>
<%= @festival.state %><br>
<%= @festival.address %><br>

<div
data-latitude="<%= @festival.latitude %>"
data-longitude="<%= @festival.longitude %>"
id="map"
>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['google_places_api_key']%>"></script>
